[project]
	description = watcher-tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/davidtardivel
	owner = group watcher
[access "refs/for/refs/*"]
	read = group user/davidtardivel
	read = group watcher
	push = group user/davidtardivel
	push = group watcher
	label-Code-Review = -2..+2 group user/davidtardivel
	label-Code-Review = -2..+2 group watcher
	label-Verified = -1..+1 group user/davidtardivel
	label-Verified = -1..+1 group watcher
	rebase = group user/davidtardivel
	rebase = group watcher
	removeReviewer = group user/davidtardivel
	submit = group user/davidtardivel
	submit = group watcher
[access "refs/heads/*"]
	read = group user/davidtardivel
	read = group watcher
	create = group user/davidtardivel
	create = group watcher
	push = +force group user/davidtardivel
	push = +force group watcher
	pushMerge = group user/davidtardivel
	pushMerge = group watcher
[access "refs/tags/*"]
	push = +force group user/davidtardivel
	push = +force group watcher
	pushTag = group user/davidtardivel
	pushTag = group watcher
	pushSignedTag = group user/davidtardivel
	pushSignedTag = group watcher
[submit]
