[DEFAULT]


[metrics_driver.cpu_count]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.cpu_count

# Probe ID of the data puller (string value)
#probe_id = compute.node.cpu.count

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 3600


[metrics_driver.cpu_idle]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.cpu_idle

# Probe ID of the data puller (string value)
#probe_id = compute.node.cpu.idle

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 5


[metrics_driver.cpu_user]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.cpu_user

# Probe ID of the data puller (string value)
#probe_id = compute.node.cpu.user

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 5


[metrics_driver.disk_free]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.disk_free

# Probe ID of the data puller (string value)
#probe_id = compute.node.disk.free

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 5


[metrics_driver.disk_total]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.disk_total

# Probe ID of the data puller (string value)
#probe_id = compute.node.disk.total

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 3600


[metrics_driver.disk_used]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.disk_used

# Probe ID of the data puller (string value)
#probe_id = compute.node.disk.used

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 5


[metrics_driver.energy_active_energy]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.energy_active_energy

# Probe ID of the data puller (string value)
#probe_id = energy.activeEnergy

# Time interval (in seconds) between each data pulling (floating point
# value)
interval = 5

# A mapping between PDU names and their endpoint (IP/FQDN) (unknown
# type)
# TODO test with=> Rennes:10.50.254.210
pdu_servers={{ watcher_metering_pdu_servers | join (",")}}

# Each entry specified here should be an entry mapping a PDU name to a
# list of servers. Each server is a pair between its endpoint and its
# related outlet ID. (unknown type)
{% for server_name, server_host in watcher_metering_pdu_servers.items() %}
mapping = {{ server_name }}:{{ watcher_metering_pdu_mapping[server_name] }}
{% endfor %}


[energy_active_power]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.energy_active_power

# Probe ID of the data puller (string value)
#probe_id = energy.activePower

# Time interval (in seconds) between each data pulling (floating point
# value)
interval = 5

# A mapping between PDU names and their endpoint (IP/FQDN) (unknown
# type)
pdu_servers={{ watcher_metering_pdu_servers | join (",")}}

# Each entry specified here should be an entry mapping a PDU name to a
# list of servers. Each server is a pair between its endpoint and its
# related outlet ID. (unknown type)
#mapping = [my_data_puller]
{% for server_name, server_host in watcher_metering_pdu_servers.items() %}
mapping = {{ server_name }}:{{ watcher_metering_pdu_mapping[server_name] }}
{% endfor %}


[metrics_driver.energy_apparent_power]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.energy_apparent_power

# Probe ID of the data puller (string value)
#probe_id = energy.apparentPower

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 1

# A mapping between PDU names and their endpoint (IP/FQDN) (unknown
# type)
pdu_servers={{ watcher_metering_pdu_servers | join (",")}}

# Each entry specified here should be an entry mapping a PDU name to a
# list of servers. Each server is a pair between its endpoint and its
# related outlet ID. (unknown type)
#mapping = [my_data_puller]
{% for server_name, server_host in watcher_metering_pdu_servers.items() %}
mapping = {{ server_name }}:{{ watcher_metering_pdu_mapping[server_name] }}
{% endfor %}


[metrics_driver.energy_frequency]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.energy_frequency

# Probe ID of the data puller (string value)
#probe_id = energy.frequency

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 1

# A mapping between PDU names and their endpoint (IP/FQDN) (unknown
# type)
pdu_servers={{ watcher_metering_pdu_servers | join (",")}}

# Each entry specified here should be an entry mapping a PDU name to a
# list of servers. Each server is a pair between its endpoint and its
# related outlet ID. (unknown type)
#mapping = [my_data_puller]
{% for server_name, server_host in watcher_metering_pdu_servers.items() %}
mapping = {{ server_name }}:{{ watcher_metering_pdu_mapping[server_name] }}
{% endfor %}


[energy_on_off]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.energy_on_off

# Probe ID of the data puller (string value)
#probe_id = energy.onOff

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 1

# A mapping between PDU names and their endpoint (IP/FQDN) (unknown
# type)
pdu_servers={{ watcher_metering_pdu_servers | join (",")}}

# Each entry specified here should be an entry mapping a PDU name to a
# list of servers. Each server is a pair between its endpoint and its
# related outlet ID. (unknown type)
#mapping = [my_data_puller]
{% for server_name, server_host in watcher_metering_pdu_servers.items() %}
mapping = {{ server_name }}:{{ watcher_metering_pdu_mapping[server_name] }}
{% endfor %}


[metrics_driver.energy_power_factor]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.energy_power_factor

# Probe ID of the data puller (string value)
#probe_id = energy.powerFactor

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 1

# A mapping between PDU names and their endpoint (IP/FQDN) (unknown
# type)
pdu_servers={{ watcher_metering_pdu_servers | join (",")}}

# Each entry specified here should be an entry mapping a PDU name to a
# list of servers. Each server is a pair between its endpoint and its
# related outlet ID. (unknown type)
#mapping = [my_data_puller]
{% for server_name, server_host in watcher_metering_pdu_servers.items() %}
mapping = {{ server_name }}:{{ watcher_metering_pdu_mapping[server_name] }}
{% endfor %}


[energy_rms_current]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.energy_rms_current

# Probe ID of the data puller (string value)
#probe_id = energy.rmsCurrent

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 1

# A mapping between PDU names and their endpoint (IP/FQDN) (unknown
# type)
pdu_servers={{ watcher_metering_pdu_servers | join (",")}}

# Each entry specified here should be an entry mapping a PDU name to a
# list of servers. Each server is a pair between its endpoint and its
# related outlet ID. (unknown type)
#mapping = [my_data_puller]
{% for server_name, server_host in watcher_metering_pdu_servers.items() %}
mapping = {{ server_name }}:{{ watcher_metering_pdu_mapping[server_name] }}
{% endfor %}


[metrics_driver.energy_rms_voltage]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.energy_rms_voltage

# Probe ID of the data puller (string value)
#probe_id = energy.rmsVoltage

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 1

# A mapping between PDU names and their endpoint (IP/FQDN) (unknown
# type)
pdu_servers={{ watcher_metering_pdu_servers | join (",")}}

# Each entry specified here should be an entry mapping a PDU name to a
# list of servers. Each server is a pair between its endpoint and its
# related outlet ID. (unknown type)
#mapping = [my_data_puller]
{% for server_name, server_host in watcher_metering_pdu_servers.items() %}
mapping = {{ server_name }}:{{ watcher_metering_pdu_mapping[server_name] }}
{% endfor %}


[metrics_driver.memory_free]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.memory_free

# Probe ID of the data puller (string value)
#probe_id = compute.node.memory.free

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 5


[metrics_driver.memory_total]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.memory_total

# Probe ID of the data puller (string value)
#probe_id = compute.node.memory.total

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 3600


[metrics_driver.memory_used]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.memory_used

# Probe ID of the data puller (string value)
#probe_id = compute.node.memory.used

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 5


[metrics_driver.swap_free]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.swap_free

# Probe ID of the data puller (string value)
#probe_id = compute.node.swap.free

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 5


[metrics_driver.swap_total]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.swap_total

# Probe ID of the data puller (string value)
#probe_id = compute.node.swap.total

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 3600


[metrics_driver.swap_used]

#
# From watcher_metering_drivers
#

# Title of the data puller (string value)
#title = metrics_driver.swap_used

# Probe ID of the data puller (string value)
#probe_id = compute.node.swap.used

# Time interval (in seconds) between each data pulling (floating point
# value)
#interval = 5
